*{
  margin: 0;
  list-style: none;
  box-sizing: 0;

}

body {
  font-family: PT Serif;
  font-style: normal;
}

a{
  text-decoration: none;
}

.app{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.root{
  display: flex;
  flex-direction: column;
  align-items: center;
}
button{
  all:unset;
}
